$primary-color: white;
$secondary-color: #00506c;
$third-color: #5db6d6;

body {
  font-size: 0.875rem;
  background-color: $primary-color;
}

/*
     * Sidebar
     */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
      right: 0;
      */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background: $secondary-color;
  // border-right: 0.15px solid $third-color;
}

@media (max-width: 767px) {
  .sidebar {
    top: 6rem;
  }
  .sidebar .nav-link.active {
    margin-top: 25px;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-link i {
  margin-right: 4px;
  color: #eee;
}

.sidebar li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1.75rem;
  //   padding-right: 1rem;
}

.sidebar .nav-link.active {
  background-color: $third-color;
  border-radius: 10px;
  margin: 0 5px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
     * Navbar
     */

.navbar {
  background-color: $secondary-color;
  border-bottom: 0.15px solid $third-color;
  .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
  }
  .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
    }
  }
  .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .icon {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 50%;
    padding: 8px;
  }
  // .badge {
  //   background-color: $secondary-color;
  // }
}
#search {
  color: $secondary-color;
  background-color: $primary-color;
  width: 25%;
  border-radius: 10px;
  margin-left: 25px;

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
  }
}

@media (max-width: 767px) {
  .icon-display {
    margin: 0 auto;
  }
  #search {
    width: 100%;
    margin-left: 5px;
    // margin: 0 15px;
  }
}

/*
     * Body
     */

#myChart {
  width: 600px;
  height: 400px;
}

// .header {
//   background-color: $third-color;
//   border-radius: 10px;
//   .dropdown-menu {
//     background-color: $third-color;
//     color: white;
//     padding: 0;
//     font-size: small;
//     margin-top: 0.25rem;
//     li {
//       padding: 10px;
//       &:hover {
//         background-color: #00cc83;
//       }
//     }
//     a {
//       color: white;
//       text-decoration: none;
//     }
//   }
//   .btn {
//     border-radius: 5px;
//     &:focus {
//       border-color: transparent;
//       background-color: rgba(0, 204, 133, 0.5);
//       box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
//     }
//   }

//   #newProduct {
//     background-color: $secondary-color;
//     color: white;
//   }
// }

// .album {
//   background-color: $third-color;
//   border-radius: 10px;
//   .card {
//     background-color: $primary-color;
//     .card-body {
//       background-color: $primary-color;
//       color: white;
//       hr {
//         color: white;
//       }
//       .productRating {
//         &:hover {
//           color: $secondary-color;
//         }
//       }
//       .productPrice {
//         border: 1px solid #b4854b;
//         border-radius: 15px;
//         background-color: $third-color;
//         width: 80px;
//         padding: 5px;
//         text-align: center;
//       }
//     }
//   }
// }

// @media (max-width: 767px) {
//   .header,
//   .album {
//     margin: 0 15px;
//   }
// }

// .container {
//   .row {
//     .product-description {
//       h1 {
//         font-weight: 500;
//         color: white;
//         letter-spacing: -2px;
//       }

//       p {
//         font-size: 16px;
//         font-weight: 300;
//         color: rgb(172, 172, 172);
//         // line-height: 24px;
//       }
//       .first {
//         border: 1px solid #da8927;
//         border-radius: 15px;
//         background-color: $third-color;
//         margin: 8px;
//         margin-left: 0;
//       }
//     }

//     hr {
//       color: grey;
//     }
//     .price {
//       font-size: 24px;
//       font-weight: 500;
//       color: white;
//       line-height: 24px;
//     }

//     .buy {
//       outline: 0;
//       background-color: $secondary-color;
//       color: white;
//       border: none;
//       margin-right: 8px;
//     }

//     .buy:focus {
//       outline: none !important;
//     }

//     .discover {
//       background-color: $third-color;
//     }
//   }
//   .product-color span,
//   .cable-config span {
//     font-size: 14px;
//     font-weight: 400;
//     color: white;
//     margin-bottom: 20px;
//     display: inline-block;
//   }
//   .product-color {
//     margin-bottom: 30px;
//   }

//   .color-choose div {
//     display: inline-block;
//   }

//   .color-choose input[type="radio"] {
//     display: none;
//   }

//   .color-choose input[type="radio"] + label span {
//     display: inline-block;
//     width: 40px;
//     height: 40px;
//     margin: -1px 4px 0 0;
//     vertical-align: middle;
//     cursor: pointer;
//     border-radius: 50%;
//   }

//   .color-choose input[type="radio"] + label span {
//     border: 2px solid #ffffff;
//     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
//   }

//   .color-choose input[type="radio"]#red + label span {
//     background-color: #c91524;
//   }
//   .color-choose input[type="radio"]#blue + label span {
//     background-color: #314780;
//   }
//   .color-choose input[type="radio"]#black + label span {
//     background-color: #323232;
//   }

//   .icon-bar a {
//     display: block;
//     text-align: center;
//     transition: all 0.3s ease;
//     color: white;
//     font-size: 20px;
//     margin: 30px;
//     &a:hover {
//       background-color: #000;
//     }
//   }
// }

// @media (max-width: 535px) {
//   .left-column img {
//     width: 340px;
//     height: 320px;
//     top: -85px;
//   }

//   .right-column {
//     margin: 15px;
//     h1 {
//       margin-top: 20px;
//     }
//   }

//   .buy {
//     font-size: 12px;
//     a {
//       text-decoration: none;
//     }
//   }
//   .discover {
//     font-size: 12px;
//   }
//   .icon-bar a {
//     margin: 50px;
//   }
// }

// .table-sec {
//   .container-xl {
//     background-color: $third-color;
//     border-radius: 15px;
//     .table-responsive {
//       margin: 30px 0;

//       .table-wrapper {
//         min-width: 1000px;
//         padding: 20px 25px;
//       }
//       .avatar {
//         width: 35px;
//         margin: 5px;
//       }
//     }
//   }
// }

// table.table tr th,
// table.table tr td {
//   color: white;
//   border-color: grey;
//   vertical-align: middle;

//   .learn {
//     background-color: $primary-color;
//   }
// }
// table.table tr th:first-child {
//   width: 60px;
// }
// table.table tr th:last-child {
//   width: 80px;
// }
// table.table-striped tbody tr:nth-of-type(odd) {
//   background-color: $third-color;
// }
// table.table-striped tbody tr:nth-of-type(even) {
//   background-color: $third-color;
// }

// table.table td a {
//   font-weight: bold;
//   color: white;
//   display: inline-block;
//   text-decoration: none;

//   .view i {
//     font-size: 22px;
//     margin: 2px 0 0 1px;
//   }
// }
// .carousel {
//   border-radius: 10px;
//   .card {
//     background-color: $third-color;
//     .card-body {
//       background-color: $third-color;
//       color: white;
//       hr {
//         color: white;
//       }
//       .productStar {
//         &:hover {
//           color: $secondary-color;
//         }
//       }
//       .productPrice {
//         border: 1px solid #da8927;
//         border-radius: 15px;
//         background-color: $third-color;
//         width: 80px;
//         padding: 5px;
//         text-align: center;
//       }
//     }
//   }
// }

// footer {
//   border-top: 1px solid $third-color;
//   .container {
//     a {
//       text-decoration: none;
//     }
//     p {
//       color: rgb(172, 172, 172);
//     }
//   }
// }

.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
  &:hover {
    text-decoration: none;
    color: #f1f1f1;
    .icon i {
      font-size: 100px;
      transition: 1s;
      -webkit-transition: 1s;
    }
  }
  .inner {
    padding: 5px 10px 0 10px;
  }

  h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
  }

  p {
    font-size: 15px;
  }

  .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
  }
  .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
  }
}

.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-orange {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #d9534f !important;
}
